<!DOCTYPE html>
<html>
<head>
    <title>NPP India</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <style>
        #map { height: 500px; width: 100%; }
    </style>
</head>
<body>
  
  <a href="/nuclear_sites" target="_blank" color='inherit'>
    <h2>gonuclear.onrender.com</h2>  
  </a>
  
  <div id="map"></div>
    <style>
        #map { height: 500px; width: 75%; float: left; }
        #info-panel {
            width: 24%;
            height: 500px;
            overflow-y: auto;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            float: right;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="/static/main.js"></script>

    <div id='river-details'>
      
    </div>
    
    <!-- <script src="/static/display.js"></script> -->
    <!-- <script src="/static/style.css"></script> -->
    <!-- <div id="river-list" class="accordion"> -->

      <script> 
        // // Handle map click event to display data in the side panel (optional)
        // map.on('click', (e) => {
        //     const { lat, lng } = e.latlng;
        //     alert(`Clicked at ${lat}, ${lng}`);
        // });
      </script>
      
</body>
</html>
